<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Taylor Hill</string>
		<key>measure </key>
		<string>90 - 60 - 90</string>
		<key>photo</key>
		<string>taylorhill</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Candice Swanepoel</string>
		<key>measure</key>
		<string>90 - 52 - 86</string>
		<key>photo</key>
		<string>candiceswanepoel</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Stella Maxwell</string>
		<key>measure</key>
		<string>80 - 60 - 90</string>
		<key>photo</key>
		<string>stellamaxwell</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Devon Windsor</string>
		<key>measure</key>
		<string>87 - 58 - 90</string>
		<key>photo</key>
		<string>devonwindsor</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Romee Strijd</string>
		<key>measure</key>
		<string>88 - 52 - 88</string>
		<key>photo</key>
		<string>romeestrijd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alessandra Ambrosio</string>
		<key>measure</key>
		<string>90 - 60 - 90</string>
		<key>photo</key>
		<string>alessandraambrosio</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Joan Smalls</string>
		<key>measure</key>
		<string>89 - 58 - 90</string>
		<key>photo</key>
		<string>joamsmalls</string>
	</dict>
</array>
</plist>
